body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
}

input {
    width: 20em;
    font: 16px arial, sans-serif;
    padding: 0.5em 0.8em;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    border: 1px solid rgba(0,0,0,0.16);
    border-radius: 2px;
    margin: auto;
}